body {background-color: black; color:white; font-family: Arial; font-size: 16px;}
	td {text-align:left; vertical-align: top; font-family: Arial; font-size:16px;}
	
	#products-table
		{
			 width: 200px;
			height: 400px;
			overflow:scroll;
		}
	
	@-webkit-keyframes winner {
	  from { background-color: green; }
	  to { background-color: inherit; }
	}
	@-moz-keyframes winner {
	  from { background-color: green; }
	  to { background-color: inherit; }
	}
	@-o-keyframes winner {
	  from { background-color: green; }
	  to { background-color: inherit; }
	}
	@keyframes winner {
	  from { background-color: green; }
	  to { background-color: inherit; }
	}
	.winner {
	  -webkit-animation: winner 0.65s infinite; /* Safari 4+ */
	  -moz-animation:    winner 0.65s infinite; /* Fx 5+ */
	  -o-animation:      winner 0.65s infinite; /* Opera 12+ */
	  animation:         winner 0.65s infinite; /* IE 10+ */
	}