.icon-med {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("https://liveracers.com/Content/api/images/icons_24.png") no-repeat; }
  .icon-med.lr-loading {
    background: url("https://liveracers.com/Content/api/images/lr-loading_24.gif") no-repeat; }
  .icon-med.add {
    background-position: -264px center; }
  .icon-med.helmet {
    background-position: -48px center; }
  .icon-med.lr-logo-color-dark {
    background-position: -1624px center; }

#lr-servers {
  font-family: "Segoe UI", "Helvetica", Garuda, Arial, sans-serif; }
  #lr-servers .lr-servers-content:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }
  #lr-servers .lr-servers-header {
    padding: 4px 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 12pt;
    display: block;
    text-decoration: none; }
    #lr-servers .lr-servers-header span {
      padding-left: 2px; }
  #lr-servers.light {
    background: #F2F3F4;
    color: #363d46; }
    #lr-servers.light .lr-loading {
      background: url("images/lr-loading_24.gif") no-repeat; }
    #lr-servers.light a {
      color: #363d46; }
      #lr-servers.light a:hover {
        color: #ff7700; }
    #lr-servers.light .lr-servers-header {
      background: white; }
    #lr-servers.light .gameInfo {
      border-top: 1px solid white;
      border-bottom: 1px solid #E2E5EC; }
      #lr-servers.light .gameInfo:first-child {
        border-top: 1px solid #E2E5EC; }
      #lr-servers.light .gameInfo.Practice {
        background: #3d3b3b;
        border-top: 1px solid #bdd6e0;
        border-bottom: 1px solid #85b4c6; }
      #lr-servers.light .gameInfo.TimeAttack {
        background: #AEF9DD;
        border-top: 1px solid #d4fced;
        border-bottom: 1px solid #88f6cd; }
      #lr-servers.light .gameInfo.HotLap {
        background: #CC7070;
        border-top: 1px solid #d78e8e;
        border-bottom: 1px solid #c15252; }
      #lr-servers.light .gameInfo.Drift {
        background: #E0D47D;
        border-top: 1px solid #e8df9e;
        border-bottom: 1px solid #d8c95c; }
      #lr-servers.light .gameInfo.Warmup {
        background: #FFC18E;
        border-top: 1px solid #ffd7b7;
        border-bottom: 1px solid #ffab65; }
      #lr-servers.light .gameInfo.Qualifying {
        background: #A0CA7B;
        border-top: 1px solid #b5d698;
        border-bottom: 1px solid #8bbe5e; }
      #lr-servers.light .gameInfo.Race {
        background: #c19ef6;
        border-top: 1px solid #d9c3f9;
        border-bottom: 1px solid #a979f3; }
      #lr-servers.light .gameInfo .details {
        background: #e7e7e7; }
      #lr-servers.light .gameInfo:hover {
        background: #e7e7e7; }
      #lr-servers.light .gameInfo .g-info .g-app {
        background: black;
        color: white;
        opacity: 0.4;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); }
  #lr-servers.dark {
    background: inherit;
    color: white; }
    #lr-servers.dark .icon-med.lr-loading {
      background: url("images/lr-loading-dark_24.gif") no-repeat; }
    #lr-servers.dark .icon-med.add {
      background-position: -1696px center; }
    #lr-servers.dark .icon-med.helmet {
      background-position: -1672px center; }
    #lr-servers.dark .lr-loading {
      background: url("images/lr-loading-dark_24.gif") no-repeat; }
    #lr-servers.dark a {
      color: rgb(212, 0, 0); }
      #lr-servers.dark a:hover {
        color: #d93d16; }
    #lr-servers.dark .lr-servers-header {
      background: inherit; }
    #lr-servers.dark .gameInfo {
      border-top: 1px solid #48515d;
      border-top-color: rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid #24292f;
      border-bottom-color: rgba(0, 0, 0, 0.4); }
      #lr-servers.dark .gameInfo:first-child {
        border-top: 1px solid #24292f;
        border-top-color: rgba(0, 0, 0, 0.4); }
      #lr-servers.dark .gameInfo.Practice {
        background: #313030;
        border-top: 1px solid #5c8490;
        border-bottom: 1px solid #3c565e; }
      #lr-servers.dark .gameInfo.TimeAttack {
        background: #B52A26;
        border-top: 1px solid #d43530;
        border-bottom: 1px solid #93221f; }
      #lr-servers.dark .gameInfo.HotLap {
        background: #B74E4E;
        border-top: 1px solid #c36b6b;
        border-bottom: 1px solid #9d4040; }
      #lr-servers.dark .gameInfo.Drift {
        background: #C6AC00;
        border-top: 1px solid #efcf00;
        border-bottom: 1px solid #9d8900; }
      #lr-servers.dark .gameInfo.Warmup {
        background: #775233;
        border-top: 1px solid #94663f;
        border-bottom: 1px solid #5a3e27; }
      #lr-servers.dark .gameInfo.Qualifying {
        background: #3F543A;
        border-top: 1px solid #516c4b;
        border-bottom: 1px solid #2d3c29; }
      #lr-servers.dark .gameInfo.Race {
        background: #463660;
        border-top: 1px solid #59457a;
        border-bottom: 1px solid #332746; }
      #lr-servers.dark .gameInfo .details {
        background: #311a1a; }
      #lr-servers.dark .gameInfo:hover {
        background: #311a1a; }
      #lr-servers.dark .gameInfo .g-info .g-app {
        /* background: white; */
       
        color: black;
        opacity: 0.8;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); }
        #lr-servers.dark .gameInfo .g-info .g-app.Practice{
        background:
    -moz-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -o-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
        }
        #lr-servers.dark .gameInfo .g-info .g-app.Race{
         background:
    -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
        }
  #lr-servers .gameInfo {
    overflow: visible;
    margin: 0px;
    padding: 0px;
    font-size: 9pt;
    font-weight: 500;
    text-align: left;
    width: 200px;
    height: 55px;
    float: left; }
    #lr-servers .gameInfo a {
      text-decoration: none; }
    #lr-servers .gameInfo.Practice {
      background: #A1C5D3;
      border-top: 1px solid #bdd6e0;
      border-bottom: 1px solid #85b4c6; }
    #lr-servers .gameInfo.Warmup {
      background: #FFC18E;
      border-top: 1px solid #ffd7b7;
      border-bottom: 1px solid #ffab65; }
    #lr-servers .gameInfo.Qualifying {
      background: #A0CA7B;
      border-top: 1px solid #b5d698;
      border-bottom: 1px solid #8bbe5e; }
    #lr-servers .gameInfo.Race {
      background: #c19ef6;
      border-top: 1px solid #d9c3f9;
      border-bottom: 1px solid #a979f3; }
    #lr-servers .gameInfo .details {
      clear: both;
      position: absolute;
      margin-top: 55px;
      display: none;
      width: 200px;
      z-index: 11; }
      #lr-servers .gameInfo .details .drivers {
        clear: both;
        font-size: 8pt;
        padding: 3px; }
        #lr-servers .gameInfo .details .drivers span {
          font-weight: 700; }
      #lr-servers .gameInfo .details .join {
        padding: 5px;
        font-size: 11pt; }
      #lr-servers .gameInfo .details .bestLaps {
        clear: both;
        font-size: 8pt;
        padding: 3px; }
        #lr-servers .gameInfo .details .bestLaps .values {
          font-size: 8pt; }
        #lr-servers .gameInfo .details .bestLaps span {
          font-weight: 700; }
    #lr-servers .gameInfo .body:after {
      content: ".";
      clear: both;
      display: block;
      height: 0;
      visibility: hidden; }
    #lr-servers .gameInfo:hover .details {
      display: block; }
    #lr-servers .gameInfo .g-info-wrapper {
      width: 100%;
      float: left; }
      #lr-servers .gameInfo .g-info-wrapper .g-info {
        margin-right: 50px;
        font-size: 8pt;
        padding: 2px 0px 0px 3px;
        height: 72px;
        overflow: hidden; }
        #lr-servers .gameInfo .g-info-wrapper .g-info div {
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: break-word;
          width: 100%;
          margin: 1px 0px; }
        #lr-servers .gameInfo .g-info-wrapper .g-info .g-app {
          text-align: center;
          margin: 0px 0px;
          font-size: 9pt;
          line-height: 11pt;
          -moz-border-radius-bottomleft: 2px;
          -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
          -moz-border-radius-bottomright: 2px;
          -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
          position: relative;
          top: -2px;
          overflow: visible;
          z-index: 10; }
          #lr-servers .gameInfo .g-info-wrapper .g-info .g-app .session {
            display: inline-block;
            margin: 1px 0px 0px 0px;
                margin-bottom: -3px;
            width: auto; }
          #lr-servers .gameInfo .g-info-wrapper .g-info .g-app .app {
            display: inline-block;
            margin: 0px;
            width: auto; }
        #lr-servers .gameInfo .g-info-wrapper .g-info .g-header {
          margin: 0px;
          font-size: 9pt;
          font-weight: 700;
          overflow: visible;
          text-overflow: clip;
          -o-text-overflow: clip;
          white-space: normal; }
    #lr-servers .gameInfo .g-side-wrapper {
      float: left;
      width: 50px;
      position: relative;
      margin-left: -50px; }
      #lr-servers .gameInfo .g-side-wrapper .g-side {
        margin: 0;
        padding: 0;
        height: 72px; }
        #lr-servers .gameInfo .g-side-wrapper .g-side .drivers {
          float: right;
          margin: -3px 4px 0px 0px;
          font-weight: 700;
          font-size: 9pt;
          line-height: 9pt;
          padding: 0px;
          text-align: center; }
          #lr-servers .gameInfo .g-side-wrapper .g-side .drivers span {
            margin-right: 3px; }
        #lr-servers .gameInfo .g-side-wrapper .g-side .remaining {
          font-size: 8pt;
          font-weight: 500;
          text-align: right;
          position: absolute;
          bottom: 1px;
          right: 5px; }
        #lr-servers .gameInfo .g-side-wrapper .g-side .bestLap {
          font-size: 8pt;
          margin: 0px 3px 0px 0px;
          float: right; }
        #lr-servers .gameInfo .g-side-wrapper .g-side .weather {
          font-size: 8pt;
          margin: 1px 3px 0px 0px;
          float: right; }
  #lr-servers.horizontal {
    width: auto; }
    #lr-servers.horizontal .gameInfo {
      border-top: 0px solid !important;
      border-bottom: 0px solid !important; }
  #lr-servers.vertical {
    width: 200px; }

.with-icon-med {
  height: 24px; }
  .with-icon-med .icon-med {
    float: left; }
  .with-icon-med span {
    line-height: 24px;
    display: block;
    float: left;
    padding-left: 3px;
    font-family: "Segoe UI", "Helvetica", Garuda, Arial, sans-serif; }
